:root{
    --bitcoin-orange: #F7931A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto';
    background-color: #dedede;
}

/*---Header---*/

header{
    width: 100%;
    min-width: 320px;
    height: 6rem;
    display: flex;
    text-align: center;
    /* box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px; */
    background-color: #eee;
}

.header-title-container{
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.header-title-container p{
    font-family: 'Yusei Magic';
    color: var(--bitcoin-orange);
    font-size: 2rem;
    font-weight: 500;
}

/*---Main---*/
.main--abstract-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    /* max-width: 600px; */
    height: auto;
    padding: 2rem 1rem;
    align-items: center;
    background-color: #eeeeee;
    align-self: center;
    margin: 0 auto;
}

.main--abstract-title{
    display: block;
    align-self: flex-start;
    font-family: 'yusei magic';
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
}

.main--abstract-content{
    width: 85%;
    max-width: 863px;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    align-self: flex-end;
}

.main--abstract-content p{
    margin-bottom: 1.5rem;
}

.main--section-work{
    margin-top: -2rem;
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    background-color: #cdcdcd;
    min-width: 320px;
    padding: 2rem 0;
}

.main--section-work a{
    text-decoration: none;
}

.main--section-card{
    margin: 0 auto;
    width: 100%;
    max-width: 863px;
    height: auto;
}

.main--card-1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--section-card h2 {
    font-family: 'yusei magic';
    color: black;
}

.main--card-1 img {
    border-radius: 2rem;
    width: 80%;
    height: auto;
    margin: 1.5rem;
}

.main--card-2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--card-2 img {
    border-radius: 2rem;
    width: 80%;
    height: auto;
    margin: 1.5rem;
}

.main--card-3{
    margin: 1rem
}

footer{
    width: 100%;
    height: 15rem;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-top: -2rem;
    padding: 1.5rem;
    background-color: #ababab;
}

.footer--content-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--content-container div{
    margin: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: blue;
}